<h1 style="margin-left: 10px"><strong>Infracciones - Ley 9024</strong></h1>
<br/>
<div style="margin-left: 10px; display: inline-block;">Buscar infracciones:</div>
<input size="30" style="margin-left: 10px" placeholder="Comience a escribir..." [(ngModel)]="infraccionSearch" (ngModelChange)="buscarInfraccion(infraccionSearch)">
<br/>
<br/>
<div class="content">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Codigo</th>
                <th>Infracción</th>
                <th>Monto Total</th>
                <th>Monto Con Descuento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let infraccion of infServ.itemList">
                <td>{{infraccion.ifrid}}</td>
                <td>{{infraccion.ifrcodigo}}</td>
                <td>{{infraccion.ifrds}}</td>
                <td>$ {{(infraccion.ifrcosto*9.5)}}</td>
                <td>$ {{((infraccion.ifrcosto*9.5)*0.6)}}</td>
            </tr>
        </tbody>
    </table>
</div>