<div class="banner-contacto">
    <br/>POR CUALQUIER INQUIETUD<br/><br/> COMUNICARSE AL:<br/><br/> 0800-800-VIALM(84256)
    <br/><br/> gestionmulta-seg@mendoza.gov.ar
</div>
<div style="margin-left: 25px; display: inline-block;">Ingresar DNI: </div>
<input style="display: inline-block; margin-left: 10px;">
<br/>
<div style="font-size: 26px; margin-left: 45px; font-weight: bold; color: green;">Medios de pago:</div>

<img class="medios-pago" src="../../../assets/img/logo_bconacion.png"><br/>
<img class="medios-pago" src="../../../assets/img/logo_bolsadecomercio.png"><br/>
<img class="medios-pago" src="../../../assets/img/logo_montemar.png"><br/>